@import '@Styles/colors.scss';
@import '@Styles/ResponsiveLayout.scss';
@import "layout.scss";

.custom-overlay {
    background: rgba(0, 0, 0, 0.50);
    align-items: center;

    @include is-mobile {
        padding: 0;
        align-items: unset;
    }

    &.large {
        align-items: start;
    }
}

.noProjectAccessModal {
    .modal {
        margin-bottom: 20px;
    }
}

.deleteDocumentModal, .noProjectAccessModal {
    color: $slate-darker;
    max-width: 400px;
    padding: 32px;
    border-radius: 4px;

    @include is-mobile {
        border-radius: 0;
    }

    .title {
        @include flex-row($justify-content: center);
        font-size: 18px;
        margin-bottom: 32px;
    }

    .modal {
        font-size: 14px;

        .file-name {
            font-weight: 500;
            word-break: break-word;
        }
    }
}

.react-responsive-modal-closeButton {
    width: 20px;
    top: 24px;
    right: 24px;
}

.responsive-button-wrapper {
    @include flex-row($justify-content: center, $align-items: center);
    margin-top: 50px;

    button:first-of-type {
        margin-right: 16px;
    }

    button {
        min-width: 120px;
        justify-content: center;
    }
}

html {position: static !important;}