@import 'colors.scss';

body {
    font-family: Roboto;
    font-size: 20px;
    margin: 0;
    padding: 0;

    @media (max-width: 365px) {
        font-size: 16px;
    }
}

.error-header {
    width: 100%;
    background-color: #000;
    padding: 10px;

    img {
        height: 22px;
    }

    .page-title {
        font-family: Georgia;
        margin-left: 10px;
        font-size: 28px;
        color: #f5aeb3;
    }
}

.error-container {

    padding-left: 10px; 
    padding-right: 10px;

    .error-message {
        box-shadow: 0 1px 5px rgba(0,0,0,.3);
        max-width: 1000px;
        padding: 50px;
        margin: auto;
        margin-top: 50px;
        background-color: #fff;

        .error-details-toggle {
            display: block;
            margin-top: 20px;
            font-size: 14px;
        }
    }
}
