@import 'colors.scss';
@import "dimensions.scss";
@import "layout.scss";

.survey-details-root-container {
    flex: auto;
    overflow-y: auto;
    padding-top: 4px;

    @media (max-width: $breakpoint-mobile) {
        padding: 16px;
    }
}

.survey-disabled-msg {
    padding: 25px 32px;
    font-size: 22px;
}

.quota-survey-info {
    display: flex;
    margin: auto;
    max-width: 1000px;

    .progress-value {
        font-size: 24px;
        margin-bottom: 6px;

        @media (max-width: $breakpoint-mobile) {
            font-size: 18px;
            margin-bottom: 0;
        }
    }

    .survey-progress-percentage-circle {
        width: 150px;

        @media (max-width: $breakpoint-mobile) {
            width: 96px;
        }

        .CircularProgressbar-path {
            stroke: $lime-dark;
        }

        .CircularProgressbar-trail {
            stroke: $chalk-light;
        }

        &.full {
            .CircularProgressbar-path {
                stroke: $lime;
            }
        }
    }

    .quota-card {
        @include flex-row($justify-content: space-evenly, $align-items: center);
        padding: 50px 24px;
        width: 100%;

        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;
            padding: 0;
            margin: 16px 0 32px 0;
        }
    }

    .mobile-block {
        @include flex-row($justify-content: space-between);
        width: 55%;

        @media (max-width: $breakpoint-mobile) {
            @include flex-row($justify-content: space-between, $align-items: center);
            width: 100%;
            margin-top: 32px;
        }
    }

    .progress-block, .response-block, .gap-block, .target-block {
        @include flex-column($align-items: center);
    }

    .response-block, .gap-block, .target-block {
        @media (max-width: $breakpoint-mobile) {
            width: 80px;
        }
    }

    .divider {
        border-left: 1px solid $chalk-light;
        height: 150px;
        margin: 0 24px;

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
    }

    .info-icon {
        padding-bottom: 20px;
        height: 38px;

        @media (max-width: $breakpoint-mobile) {
            height: 30px;
            padding-bottom: 8px;
            align-items: baseline;
        }
    }

    .block-value {
        font-size: 20px;
        color: $slate-darker;
        padding-bottom: 6px;

        @media (max-width: $breakpoint-mobile) {
            font-size: 16px;
            padding: 5px;
        }
    }

    label {
        color: $slate;
        font-size: 14px;
    }
}

.quota-cell-sort-container {
    display: flex;
    margin: auto;
    max-width: 1000px;
    margin-bottom: 10px;
}

.survey-group-info-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-gutter: stable both-edges;

    .savanta-admin-warning {
        @include flex-row($align-items: center);
        background-color: $amber-lighter;
        color: $amber-darker;
        border-bottom: 1px solid $amber-light;
        width: 100%;
        font-size: 14px;
        padding: 16px 24px;
        box-sizing: border-box;

        i {
            color: $amber-darker;
            font-size: 18px;
            margin-right: 8px;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 0;
    }

    .survey-group-info {
        width: 100%;
        max-width: 1000px;

        .label {
            text-transform: uppercase;
            color: $slate;
            padding: 30px 0 20px;
        }

        .no-surveys {
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: $slate;
            padding: 25px 0;

            i {
                margin-right: 10px;
            }
        }
    }
}

i {
    &.rotate {
        transform: rotate(90deg);
    }
}


