Aaron Faulkner <aaron.faulkner@savanta.com>
Aaron Faulkner <aaron.faulkner@savanta.com> <100697799+AFaulkner1990@users.noreply.github.com>
Abhinav Rawat <135735823+AbhinavRawatSavanta@users.noreply.github.com>
Adam Gould <adam.gould@savanta.com>
Adam Gould <adam.gould@savanta.com> <adam.gould@mig-global.com>
Adam Parker <adam.parker@savanta.com>
Adam Parker <adam.parker@savanta.com> <adam.n.parker@gmail.com>
Alexandra Strevens <alexandra.strevens@savanta.com>
Alexandra Strevens <alexandra.strevens@savanta.com> <118436431+AlexandraofOPC@users.noreply.github.com>
Alistair Cunningham <alistair.cunningham@savanta.com>
Alistair Cunningham <alistair.cunningham@savanta.com> <ac@morarconsulting.com>
Asha Patel <asha.patel@savanta.com>
Asha Patel <asha.patel@savanta.com> <50362898+ashaSavanta@users.noreply.github.com>
Astghik Karapetyan <astghik@tgadigital.com>
Bart Read <bart.read@savanta.com>
Bart Read <bart.read@savanta.com> <bart.read@mig-global.com>
Bart Read <bart.read@savanta.com> <bart@bartread.com>
Christian Protheroe <christian.protheroe@savanta.com>
Christian Protheroe <christian.protheroe@savanta.com> <50589064+cjprotheroe@users.noreply.github.com>
Cristiano Cesaretto <cristiano.cesaretto@savanta.com>
Cristiano Cesaretto <cristiano.cesaretto@savanta.com> <148058703+cristianocesaretto@users.noreply.github.com>
David Amin-Priddle <david.aminpriddle@savanta.com>
David Amin-Priddle <david.aminpriddle@savanta.com> <david@mig-global.com>
David Connell <david.connell@savanta.com>
David Connell <david.connell@savanta.com> <36845929+DavidConnellMIG@users.noreply.github.com>
David Connell <david.connell@savanta.com> <david.connell@mig-global.com>
Fabio Campanini <fabio.campanini@savanta.com>
Fabio Campanini <fabio.campanini@savanta.com> <campanini.f@gmail.com>
Fehed Wasti <32335261+fehedwasti@users.noreply.github.com>
Flora Marshall-Dutton <flora.marshalldutton@savanta.com>
Graham Helliwell <graham.helliwell@savanta.com>
Graham Helliwell <graham.helliwell@savanta.com> <graham.helliwell@mig-global.com>
Graham Helliwell <graham.helliwell@savanta.com> <graham.helliwell@red-gate.com>
Graham Helliwell <graham.helliwell@savanta.com> <grahamthecoder@gmail.com>
Harry Frankish <hfrankish@users.noreply.github.com>
Heidi Pereira Da Costa <heidi.pereiradacosta@savanta.com>
Irina Teterevkova <irina.teterevkova@savanta.com>
Irina Teterevkova <irina.teterevkova@savanta.com> <50362769+Teterevkova@users.noreply.github.com>
Jack Begley <jack.begley@savanta.com>
Jack Begley <jack.begley@savanta.com> <31476336+jack-begley@users.noreply.github.com>
Jack Begley <jack.begley@savanta.com> <jack.begley@morarhpi.com>
Jack Gee <jack.gee@savanta.com>
Jack Gee <jack.gee@savanta.com> <153508997+jgee-savanta@users.noreply.github.com>
James Hand <jhand45@gmail.com>
James Plastow <james.plastow@savanta.com>
James Rodden <james.rodden@savanta.com>
James Rodden <james.rodden@savanta.com> <james.rodden@mig-global.com>
Jampladev <75389912+Jampladev@users.noreply.github.com>
John Houston <john.houston@savanta.com>
John Houston <john.houston@savanta.com> <156663597+savantajah@users.noreply.github.com>
John Houston <john.houston@savanta.com> <john.houston@savanata.com>
John Robert Gre <148090083+johnrobertgre@users.noreply.github.com>
Liam Farnan <liam.farnan@savanta.com>
Mark Roberts <mark.roberts@savanta.com>
Mark Roberts <mark.roberts@savanta.com> <1908518+markalroberts@users.noreply.github.com>
Mark Roberts <mark.roberts@savanta.com> <mark.roberts@mig-global.com>
Mark Roberts <mark.roberts@savanta.com> <mark.roberts@red-gate.com>
Mark Roberts <mark.roberts@savanta.com> <markalroberts@gmail.com>
Michal Ciesielski <michal.ciesielski@savanta.com>
Michal Ciesielski <michal.ciesielski@savanta.com> <44260665+michal-ciesielski@users.noreply.github.com>
Nigel Morse <mrpurplestreak@gmail.com>
Nigel Morse <musmuris@users.noreply.github.com>
Noelle Legrain <noelle.legrain@mig-global.com>
Paul McGrath <paul.mcgrath@grantadesign.com>
Paul McGrath <paul.mcgrath@mig-global.com>
Paul McGrath <paul@sciphus.com>
Paul McGrath <pavlosmcg@gmail.com>
Paul McGrath <pavlosmcg@users.noreply.github.com>
Peter Lukats <peter.lukats@savanta.com>
Peter Lukats <peter.lukats@savanta.com> <40663299+Pete-Lukats@users.noreply.github.com>
Peter Lukats <peter.lukats@savanta.com> <peter.lukats@mig-global.com>
Phil Pursglove <phil.pursglove@savanta.com>
Phil Pursglove <phil.pursglove@savanta.com> <philpursglove@users.noreply.github.com>
Richard Phillips <richard.phillips@savanta.com>
Robin Anderson <robin@rbanderson.co.uk>
Roger Hart <51125251+RogerH40@users.noreply.github.com>
Simon Green <simon.green@savanta.com>
Simon T <105636412+SimonTSavanta@users.noreply.github.com>
Stephen Blatch <stephen.blatch@savanta.com>
Stephen Blatch <stephen.blatch@savanta.com> <46596571+steveb0465@users.noreply.github.com>
Tom Crossman <tercrossman@gmail.com>
dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
