.account-menu {
    font-size: 14px;
    width: 240px;
    color: var(--header-text-colour);
    background-color: var(--header-background-colour);
    background-clip: padding-box;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;

    :before,
    :after {
        content: '';
        display: table;
        box-sizing: unset;
    }

    :after {
        clear: both;
    }

    li.with-right-hand-icon a > span:last-child {
        align-self: flex-end;
        left: 15px;
        margin-left: auto;
        position: relative;
    }

    ul {
        margin: 20px 0 0 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 46px;
        left: 0;
        z-index: 1;
        background: var(--header-background-colour);
        transition: all .3s ease-in-out;
        padding: 0;
        list-style: none;
        box-sizing: content-box;
    }

    li {
        position: relative;
        //10% opacity white overlay to lighten ul background (--header-background-colour) by 10%
        background: rgba(white, 0.1);
        display: list-item;
        text-align: left;
        margin: 0 0 0 0;
        box-sizing: content-box;
    }

    li ul {
        background-clip: padding-box;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
        border-radius: .25rem;
        background: var(--header-background-colour);
        left: -170px;
        top: 0px;
    }

    ul li {
        float: none;
        display: block;
        border: 1px;
    }

    a {
        float: left;
        padding: 12px 30px;
        text-align: left;
        width: 180px;
        display: flex;
        cursor: pointer;
        color: var(--header-text-colour);
        box-sizing: content-box;

        &.readonly {
            cursor: inherit;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    ul a {
        width: 130px;
        display: block;
        white-space: nowrap;
        float: none;
    }

    li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;
    }

    li a:hover,
    ul a:hover {
        background-color: rgba(var(--header-border-colour-rgb), 0.24);
        color: var(--header-border-colour);
        text-decoration: none;
    }

    .separator {
		border-bottom: 1px solid var(--header-border-colour);
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
}