@use "../../Styles/layout.scss" as *;
@use "../../Styles/dimensions.scss" as *;

.tabs {
    @include flex-row($justify-content: space-between);
    background: white;
    border-bottom: 1px solid var(--colour-chalk);
    box-shadow: 0px 0px 5px var(--colour-chalk);
    padding: 0 32px;

    @media (max-width: $breakpoint-mobile) {
        padding: 0;
    }

    .tab-link-container {
        display: flex;

        @media (max-width: $breakpoint-mobile) {
            flex: 1;
            justify-content: space-evenly;
        }
    }
    .links-to-savanta
    {
        display:flex;
    }
}