<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Stackify.AppName"  value="BrandVue"/>
    <add key="Stackify.Environment" value="Dev"/>
  </appSettings>
  <system.web>
    <customErrors defaultRedirect="~/500.aspx" mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error redirect="~/404.aspx" statusCode="404" />
      <error redirect="~/400.aspx" statusCode="400" />
    </customErrors>
    <httpRuntime maxRequestLength="51200" maxQueryStringLength="4096" enableVersionHeader="false" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="400"/>
      <error statusCode="400" path="400.html" responseMode="File"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.html" responseMode="File"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.html" responseMode="File"/>
    </httpErrors>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="1509715200" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="420" >
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>