.usersTableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.noHighlight, .noHighlight:hover, .noHighlight:active {
    color: var(--colour-slate);
}