.page-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.logo-link-container {
    font-size: 16px;
    height: 100%;
    width: 200px;
    max-height: 50px;
    overflow: hidden;
    display: flex;
}