:root {
  --header-background-colour: #191919;
  --header-background-colour-rgb: 25, 25, 25;
  --header-border-colour: #f4adb3;
  --header-border-colour-rgb: 244, 173, 179;
  --header-text-colour: #ffffff;
  --header-text-colour-rgb: 255, 255, 255;
  --header-border-width: 4px;
  --header-logo: url('./savantalogo.svg');
}