@mixin flex-column($justify-content: flex-start, $align-items: stretch, $gutter: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;

    > *:not(:last-child) {
        margin-bottom: $gutter;
    }
}

@mixin flex-column-reverse($justify-content: flex-start, $align-items: stretch, $gutter: 0) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: $justify-content;
    align-items: $align-items;

    > *:not(:first-child) {
        margin-bottom: $gutter;
    }
}

%center-content {
    @include flex-column($justify-content: center, $align-items: center);
}

@mixin flex-row($justify-content: flex-start, $align-items: stretch, $gutter: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;

    > *:not(:last-child) {
        margin-right: $gutter;
    }
}
