.usersTableContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.warning {
    color: #f57c00;
    display: flex;
    align-items: center;
    gap: 8px;

}

.disabled {
    color: rgba(0, 0, 0, 0.60);
}