<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Logging -->
    <add key="Logging.ConsoleLevel" value = "Information" />
    <add key="Logging.Environment" value = "Dev" />
    <add key="Logging.FileLevel" value = "Information" />
    <add key="Logging.AggregatorAppName" value = "BrandVue" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
