[
  {
    ClassInstanceId: 1,
    Name: Vegetarian - I do not eat any meat or fish
  },
  {
    ClassInstanceId: 2,
    Name: Vegan - I do not eat or use any animal products
  },
  {
    ClassInstanceId: 3,
    Name: Lactose intolerance
  },
  {
    ClassInstanceId: 4,
    Name: Gluten intolerance
  },
  {
    ClassInstanceId: 5,
    Name: Halal
  },
  {
    ClassInstanceId: 6,
    Name: Nut allergy
  },
  {
    ClassInstanceId: 7,
    Name: Kosher
  },
  {
    ClassInstanceId: 8,
    Name: Pescatarian - I do not eat any meat but I do eat fish
  },
  {
    ClassInstanceId: 9,
    Name: Diabetic
  },
  {
    ClassInstanceId: 10,
    Name: Low sodium and / or low salt
  },
  {
    ClassInstanceId: 11,
    Name: Keto and / or low sugar
  },
  {
    ClassInstanceId: 13,
    Name: Flexitarian - I eat a mainly vegetarian diet but occasionally eat meat / fish
  },
  {
    ClassInstanceId: 14,
    Name: Meat Reducer - I eat meat but I'm actively reducing the amount
  },
  {
    ClassInstanceId: 999,
    Name: I have no dietary requirements
  },
  {
    ClassInstanceId: 1001,
    Name: Other 1
  },
  {
    ClassInstanceId: 1002,
    Name: Other 2
  }
]