<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              <rule name="DocsFolder" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="{REQUEST_URI}/docs/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>